<!DOCTYPE html>
<html>
<head>
    <title>SpendWise</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
    <div class="logo">💰 SpendWise</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>
<section class="hero">

    <h1>Manage Your Finances Like a Pro</h1>

    <p>
        Track expenses, monitor budgets, set savings goals,
        and gain insights into your spending habits — all in one place.
    </p>

    <div class="hero-buttons">
        <a href="/register" class="btn">
            🚀 Get Started
        </a>

        <a href="/login" class="btn-secondary">
            🔐 Login
        </a>
    </div>
</section>

<section class="features">

    <h2>Why Choose SpendWise?</h2>

    <div class="feature-grid">

        <div class="feature-card">
            💸 Expense Tracking
            <p>Track every expense effortlessly.</p>
        </div>
        <div class="feature-card">
            🎯 Budget Planning
            <p>Stay within your monthly budget.</p>
        </div>

        <div class="feature-card">
            📊 Analytics
            <p>>Visualize spending patterns.</p>
        </div>

        <div class="feature-card">
            🏆 Savings Goals
            <p>Achieve financial goals faster.</p>
        </div>

    </div>

</section>
<footer>

    <p>
         © 2026 SpendWise | Built by Samyak Borkar
    </p>
</footer>

</body>
</html>