<!DOCTYPE html>
<html>
<head>
    <title>SpendWise</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>
    <div class="logo">💰 SpendWise</div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>
<section class="hero">

    <h1>Track Smarter. Spend Better.</h1>

    <p>
        Manage your expenses, stay within budget,
        and gain valuable insights into your spending habits.
    </p>

    <button class="btn">
        Get Started
    </button>

</section>

</body>
</html>